1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [ ]:
*      ----> expression 

'hello'----> value

-87.8  ----> value

-      ----> expression 

/      ----> expression

+      ----> expression

6      ----> value

2. What is the difference between string and variable?  
Ans:- Strings are surrounded by either single quotation mark or a double quotation marks.  
        
        for eg. 'python' is same as "python".  
      And variables are nothing but reserved memory locations to store value, this means that when you create a variable you reserve some space in memory. Based on the datatypes interpreter decides allocates memory and decides what can be stored in the reserved memory.  
          
          for eg. name = 'sudh' #here name is a variable and we decalared as a string.

3. Describe three different data types.  
Ans:- Integer- integer(int) which is numeric datatype are the whole numbers,positive or negative numbers without decimal of unlimited length. For eg. x = 2
                          y = 26489  
                            
   Float- float datatype is a number which can be positive or negative numbers containing one or more decimal.
                  For eg. x = 2.55  
                    
   Tuple- tuples which is a squence datatype(4 in buit datatypes in python) are used to store multiple items in a single variable. Tuples are denoted with round brackets(). For eg. tuple = ("Mercedes", "BMW", "Audi")

4. What is an expression made up of? What do all expressions do?  
Ans:-  An expression is made up of mathematical operator,oprands,containers and values for eg. x = 10 + 2.5 an expression is evaluated as per the precedence of ots operators.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?    
Ans:- As we know expression is made up of values, operator and statement is just a command that a python interpreter excutes like a print.  
for eg. x = 5 + 20 ---- expression  
        print(x)   ---- command

6. After running the following code, what does the variable bacon contain?   
bacon = 22  
bacon + 1    

Ans:- it gives us 23

In [2]:
bacon = 22

In [3]:
bacon +1

23

7. What should the values of the following two terms be?  
'spam' + 'spamspam'  
'spam' * 3    

Ans:-Both the expressions gives the same output.

In [4]:
'spam' + 'spamspam'

'spamspamspam'

In [5]:
'spam' *3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?  
Ans:- Because variable names can not starts with a number.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?  
Ans:- For integer int(), for string str(), for floating-point number float()

10. Why does this expression cause an error? How can you fix it?  
'I have eaten ' + 99 + ' burritos.'  
  
  Ans:- Because 99 is a integer so it can not be concatenate with strings, if we have to concatenate it we need to typecast. the correct way is 'I have eaten ' + str(99) + ' burritos.'